::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;

    &:hover {
        background: #94a3b8;
    }
}

[data-theme='dark'] {
    ::-webkit-scrollbar-thumb {
        background: #334155;

        &:hover {
            background: #475569;
        }
    }
}